#dom {
  color: darkslateblue;
  background: lightcyan;
  text-decoration: underline wavy lightcoral;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.dom_learner {
  color: darkblue;
  background: lightgoldenrodyellow;
  border: 2px solid darkgoldenrod;
  padding: 10px;
  border-radius: 8px;
  font-size: 18px;
  text-align: left;
}

#btn1 {
  color: black;
  background-color: lightseagreen;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
